body {
	margin: 0;
	/*cursor: none;*/
	background-color: #5ca160;
}

.wrapper {
	background-image: url('../assets/bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 100%;
	width: 100%;
	position: fixed;
}

.wrapper .pointer {
	display: inline-block;
	width: 5vw;
	height: 5vw;
	background-image: url('../assets/ball.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 100%;
	transition: all 2s;
	text-align: center;
	vertical-align: middle;
	color: #000;
	position: relative;
	box-shadow: 0px 0px 3px #000;
	
	
	animation-name: nothing;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    
}

.wrapper .pointer.bouncing {
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); /* Ease-in-out */
}

@keyframes bounce {
  20% {
    top: 0vh;
    width: 6.5vw;
    height: 3.5vw;
  }
  25% {
    top: -9vh;
    width: 5vw;
    height: 5vw;
  }

  28% {
    top: 0vh;
    width: 6vw;
    height: 4vw;
  }
  39% {
    top: -8vh;
    width: 5vw;
    height: 5vw;
  }
  48% {
    top: 0vh;
    width: 5.5vw;
    height: 4.5vw;
  }

  55% {
    top: -7vh;
    width: 5vw;
    height: 5vw;
  }
  62% {
    top: 0vh;
    width: 5.5vw;
    height: 4.5vw;
  }
  69% {
    top: -5vh;
    width: 5vw;
    height: 5vw;
  }
  75% {
    top: 0vh;
  }
  80% {
    top: 0vh;
  }
  84% {
    top: 0vh;
  }
  100% {
    top: 0vh;
  }
}


@keyframes spinClockwise {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spinAntiClockwise {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.wrapper .pointer .pointerText {
	font-size: 2.5rem;
	padding-top: 1rem;
}

#StartConfirmBox{
    top: calc(50% - 200px) !important;
}





.progress-bar {
	height: 48px;
	border-radius: 24px;
	position: fixed;
	left: 1%;
	bottom: 2%;
	width: 98%;
}

.progress-bar--gradient {
	background: linear-gradient(to right, red 0, orange 25%, yellow 50%, yellowgreen 75%, green 100%);
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
	height: inherit;
	width: 100%;
	display: flex;
}

.progress-bar--progress {
	min-width: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.progress-bar--progress-value {
	display: block;
	color: white;
	padding: 0 .625rem;
}

.progress-bar--not-progress {
	flex-grow: 1;
	height: inherit;
	background: #ccc;
}
